@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap");
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.grid {
  display: grid;
  grid-template-columns: 2fr 3fr;
}
.grid_item {
  padding: 42px 0 0 38px;
}
.content {
  margin: 83px 0 0 0;
  font-family: "Roboto", sans-serif;
  font-style: normal;
}
.main_heading {
  color: #7e53c8;
  font-size: 42px;
  font-weight: 700;
  line-height: 49px;
  letter-spacing: 0em;
}
.sub_heading {
  color: #858383;
  font-size: 18px;
  font-weight: 500;
  line-height: 21px;
  letter-spacing: 0em;
  text-align: left;
  text-transform: uppercase;
}
.des_heading {
  font-size: 17px;
  font-weight: 400;
  line-height: 20px;
  letter-spacing: 0em;
  text-align: left;
}
.btn-plan {
  color: #fff;
  width: 192px;
  height: 48px;
  background: #7e53c8;
  border: #7e53c8;
  border-radius: 12px;
  margin-top: 36px;
}
.btn-plan:hover {
  cursor: pointer;
}
.grid_item_2 {
  position: relative;
  height: 100vh;
}
.grid_item_2::before {
  content: "";
  display: block;
  position: absolute;
  height: 100%;
  width: 100%;
  background: #7e53c836;
}
.grid_item_2 img {
  /* filter: contrast(0.5); */
  height: 100%;
  width: 100%;
}
.navbar {
  position: absolute;
  top: 56px;
  width: 100%;
  display: flex;
  justify-content: center;
}
.navbar a {
  font-family: "Roboto", sans-serif;
  display: inline-block;
  text-decoration: none;
  margin: 20px;
  
  color: #fff;
  font-size: 15px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  letter-spacing: 0em;
  text-align: center;
}
