.navWrapper {
    overflow: hidden;
    display: flex;
    /* justify-content: space-between; */
    align-items: center;
    position: absolute;
    padding-top: 40px;
    top: 0;
    width: 100%;
    transition: all 0.5s;
}

.navbar {
    width: 60%;
    display: flex;
    justify-content: right;
    padding-right: 10px;
    align-items: center;
    z-index: 2;
    transition: all 0.5s;
    flex-direction: row;
    flex-wrap: hidden;
    /* flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; */
}

.navbar a {
    font-family: "Roboto", sans-serif;
    display: inline-block;
    text-decoration: none;
    margin: 20px;
    color: #fff;
    font-size: 15px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
    letter-spacing: 0em;
    text-align: center;
}

.logo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 40%;
    padding: 0 38px;
    box-sizing: border-box;
}

.logo img {
    cursor: pointer;
}

.menuIcon {
    display: none !important;
}

@media(min-width:720px) {
    .smallerwidth-logo {
        display: none;
    }
    .navbar a img {
        display: none;
    }
}

@media (max-width:720px) {
    .largerwidth-logo {
        display: none;
    }
    .navWrapper {
        flex-direction: column;
        height: 100%;
    }
    .navbar {
        width: 100%;
        height: 100%;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        transform: translateX(100%);
    }
    .logo {
        width: 100%;
    }
    .menuIcon {
        display: initial !important;
    }
    .navWrapper_mb {
        background: #7e53c8;
    }
    .navbar_mb {
        transform: translateX(0);
    }
    .navbar_mb a {
        display: flex;
        align-items: right;
        width: 100%;
        font-size: 25px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        line-height: 30px;
        text-align: start;
    }
    .navbar_mb a img {
        margin-right: 8px;
    }
}

.active {
    color: black;
}