@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

.footer {
  width: 100%;
  background-color: #000000;
}

.contact-us {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 25px;
  line-height: 29px;
  text-align: center;

  color: #ffffff;
  padding: 7px;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-media_icon {
  padding: 13px;
}

.address {
  font-family: 'Roboto';
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  text-align: center;

  color: #ffffff;

  padding: 13px 0px 30px 0px;
}
