* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.temp-navbar_wrapper {
    /* position: relative; */
    background: black;
    padding-bottom: 2px;
    height: 70px;
}

.temp-navbar_wrapper .navWrapper {
    padding: 0;
}

.bg-theme-color {
    background-color: #7E53C8;
}

.bg-theme-color-m {
    background-color: #a248eb44;
}

.bg-border-bottom {
    background-color: #C55FFC;
    width: 100vw;
    height: 6px;
}

.btn-style {
    background-color: #C55FFC;
    /* C55FFC 7e53c8 */
    height: 42px;
    width: 42px;
    margin: auto;
}

.btn-style-b {
    background-color: black;
    /* C55FFC 7e53c8 */
    height: 42px;
    width: 42px;
    margin: auto;
}

.btn-style:hover {
    background-color: #5f0092;
}

.btn-style-b:hover {
    background-color: #5f0092;
}

.active {
    color: black;
}